<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- 去除html页面缓存 -->
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//img.lianshang.cn/vue/antd.min.css">
    <title>{{ chinesename }}</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- <script type="text/javascript" src="//img.lianshang.cn/vue/polyfill.min.js"></script> -->
    <script type="application/javascript" src="//img.lianshang.cn/vue/vue.min.js"></script>
    <script type="application/javascript" src="//img.lianshang.cn/vue/vue-router.min.js"></script>
    <script type="application/javascript" src="//img.lianshang.cn/vue/vuex.min.js"></script>
    <script type="application/javascript" src="//img.lianshang.cn/vue/axios.min.js"></script>
    <!-- <script type="application/javascript" src="//img.lianshang.cn/vue/antd.min.js"></script> -->
    <script type="application/javascript" src="//img.lianshang.cn/vue/moment/moment.min.js"></script>
    <script type="application/javascript" src="//img.lianshang.cn/vue/moment/zh-cn.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
